
  @import url('https://fonts.googleapis.com/css2?family=Manrope');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat');

  /* GENERALE */
  body {
    background-color: #1F2039;
    color:#1F2039;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: Montserrat;
    text-align: center;
}
p {
    font-size: 1.1em;
    font-family: Manrope;
    margin: auto;
    color: #A5B4FC;
}

 {
    color: #f9f8ff;
    background-color: blue;
}
a, a img{
    text-decoration: none;
    color: #242424;
    font-size: 1em;
    font-family: Manrope;
}
img:hover {
    opacity: 0.5;
}
em {
    color: #A5B4FC; 
    font-style: normal;
}
.cta {
    background: linear-gradient(90deg, #8e86b5, #acaeed);
    border-radius: 5Opx;
    padding: 2Opx 30ox;
    color: white;
}
.cousteaud {
    border-right: 1px;
    border-bottom: 1px;
    color: #8e86b5;
    padding: 50px;
}
.carre-contenu h2 {
margin-top: 3Opx;
}
.carre-contenu ul {
    margin-top: 30px;
}
a:hover {
    text-decoration: underline;
}
.cta:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
}
.cagnotte
 {
    margin: auto;
    width: 50%;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav a {
    margin-left: 30px;
}
.presentation{
    display: flex;
    flex-direction: row;
    width: 50px;
    align-items: center;
    margin: auto;
}
.photos {
    background-color: white;
    padding: 80px;
}
/* HEADER */
header {
    background-color: white;
    padding: 20px 50px;
}

/* NAVIGATION */
nav {

}

/* ASIDE */
aside {

}

/* SECTION */
section {
padding: 80px;
}

/* FOOTER */
footer {
    background-color: white;
    padding: 20px 50px;
      }
    footer img:hover {
        opacity: 0.5;
    
}
